Client Service Application/src/_S_LibraryProjectName_S_/Service References/_S_ShortProductName_S_Service/_S_ShortProductName_S_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="_S_ServiceProjectName_S_" elementFormDefault="qualified" targetNamespace="_S_ServiceProjectName_S_" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SomeExampleServiceMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="someExampleparameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SomeExampleServiceMethodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>